<header class="main-header">
    <nav class="main-header__nav">
        <ul class ="main-header__itemlist">
            <li class ="main-header__item"><a class="<%= path==='/'?'active' : '' %>"href='/'>index page </a></li>
            <li class ="main-header__item"><a class="<%= path==='/users'?'active' :''%>"href='/users'> users page</a></li>
        </ul>
    </nav>
</header>
