<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <main>
        <form class="product-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="email">email</label>
                <input type="text" name="email" id="email">
            </div>
            <input  type="hidden"  name="_csrf"  value="<%= csrfToken%>"  >
            <button class="btn" type="submit">resetting password</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>
