body{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

main{
    padding:1rem;
}
.main-header{
    width: 100%;
    height: 56px;
    background-color :teal;
    padding:0 1.5rem;
}

.main-header__nav{
    height:100%;
    display: flex;
    align-items: center;
}

.main-header__item-list{
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
}

.main-header__item{
    margin:0 1rem;
    padding:0;
}
.main-header__item a{
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color:yellowgreen;
}
.product-form{
    width: 30rem;
    max-width: 90%;
    margin:auto;
}
.form-control{
    margin:1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    width:100%;

}
.form-control input{
    border : 1px solid yellowgreen;
    font: inherit;
    border-radius: 2px;
}

button{
    font:inherit;
    border : 1px solid darkolivegreen;
    color : darkolivegreen;
    background: salmon;
    border-radius: 3px;
    cursor: pointer;
}

button :hover,
button :active{
    background-color: darkslategray;
    color:white;
}