    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <input type="text" name="title" id="title">
            </div> 
            <button type="submit">Add product</button>
        </form>
    </main>