<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="/css/main.css"> 
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__itemlist">
                <li class ="main-header__item"><a class="active" href="/">index page</a></li>
                <li class ="main-header__item"><a href="/users">users page</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>hello this is index page! </h1>
</body>
</html>